.h-login-signup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.main-login-signup {
    align-items: center;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.main-login-signup video {
    bottom: 0;
    margin: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}