.roundbtn {
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    display: flex;
    font-weight: 600;
    height: 40px;
    padding: 0 15px;
    transition: .5s;
}
.black {
    background-color: var(--black);
    border: 2px solid #ffffff;
    color: #ffffff;
}
.black:hover {
    background-color: var(--yellow);
    border: 2px solid transparent;
    color: #000000;
}
.white {
    background-color: #ffffff;
    border: 2px solid transparent;
    margin-right: 15px;
    color: #000000;
}
.white:hover {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}