.s-fp {
    background-color: var(--lightgray);
    padding: 4rem 0;
    width: 100%;
}
.s-fp__art {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}
.s-fp__art:nth-child(2) {padding-top: 3rem}
.s-fp__div { width: 50%; }
.s-fp__div--h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}
.s-fp__div--p {
    margin-top: 15px;
    line-height: 15px;
    font-weight: 500;
}
.s-fp__art--a {
    background-color: var(--yellow);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
}
.s-fp__art--a i { font-size: 40px; }