.s-sp {
	width: 100%;
}
.s-sp__art {
	align-items: center;
	display: flex;
	margin: 0 auto;
	padding: 65px 0;
	width: 90%;
	max-width: 1440px;
}
.fa-caret-square-left {
	cursor: pointer;
	font-size: 3rem;
	margin-right: 20px;
	transition: 0.3s;
}
.fa-caret-square-left:hover {
	transform: translateX(-10px);
}
.fa-caret-square-right {
	cursor: pointer;
	font-size: 3rem;
	margin-left: 20px;
	transition: 0.3s;
}
.fa-caret-square-right:hover {
	transform: translateX(10px);
}

@media (max-width: 768px) {
	.fa-caret-square-right,
	.fa-caret-square-left {
		font-size: 1.5rem;
	}
}
