.s-sp { width: 100%; }
.s-sp__art {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 65px 0;
    width: 90%;
}
.s-sp__ico {
    align-items: center;
    background-color: var(--black);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-right: 1.5rem;
    width: 70px;
}
.s-sp__ico:hover {
    background: rgba(240,201,45,1);
    background: -moz-linear-gradient(-45deg, rgba(240,201,45,1) 0%, rgba(255,168,38,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(240,201,45,1)), color-stop(100%, rgba(255,168,38,1)));
    background: -webkit-linear-gradient(-45deg, rgba(240,201,45,1) 0%, rgba(255,168,38,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(240,201,45,1) 0%, rgba(255,168,38,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(240,201,45,1) 0%, rgba(255,168,38,1) 100%);
    background: linear-gradient(135deg, rgba(240,201,45,1) 0%, rgba(255,168,38,1) 100%);
}
.s-sp__ico i {
    color: #ffffff;
    font-size: 2.5rem;
}
.s-sp__ico-two {
    margin-right: 0;
    margin-left: 1.5rem;
}