.h {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.h video {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}
.s-header {
    margin: 0 auto;
    margin-bottom: 6em;
    position: relative;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 1;
}
.s-header__art {
    width: 50%;
}
.s-header__art--h1 {
    color: #ffff;
    font-size: 3rem;
    font-weight: 600;
}
.s-header__art--p {
    color: var(--lightgray);
    padding: 15px 0px 30px 0;
}
.s-header__art--p b {color: #ffffff;}
.s-header__div {
    display: flex;
}