.s-cp {
    background-color: var(--black);
    width: 100%;
}
.s-cp__art {
    padding: 5rem 0;
    margin: 0 auto;
    width: 80%;
}
.s-cp__h1 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}