/* Cursor */
.cursor {
	animation: cursorAnim 0.5s infinite alternate;
	border-radius: 50%;
	border: 1px solid white;
	height: 20px;
	pointer-events: none;
	position: absolute;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	width: 20px;
	z-index: 3;
}
.cursor::after {
	animation: cursorAnim2 0.5s infinite alternate;
	border: 8px solid gray;
	border-radius: 50%;
	content: "";
	height: 20px;
	left: -8px;
	opacity: 0.5;
	position: absolute;
	top: -8px;
	width: 20px;
}
@keyframes cursorAnim {
	from { transform: scale(1); }
	to { transform: scale(0.7); }
}
@keyframes cursorAnim2 {
	from { transform: scale(1); }
	to { transform: scale(0.4); }
}
@keyframes cursorAnim3 {
	0% { transform: scale(1); }
	50% { transform: scale(3); }
	100% { transform: scale(1); opacity: 0; }
}
.expand {
	animation: cursorAnim3 0.5s forwards;
	border: 1px solid var(--yellow);
}
