@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --blue: #296ae2;
  --yellow: #fbc50e;
  --darkgray: #232323;
  --black: #101010;
  --lightgray: #f0f0f0;
}
a {text-decoration: none;}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); } */
